<!DOCTYPE html>
<HTML lang="en">
        <HEAD>
                <TITLE>HBNB</TITLE>
        </HEAD>
        <BODY>
                <H1>States</H1>
                <UL>
                        {% for state in i|sort(attribute='name') %}
                        <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>

                        <UL>
                                {% for city in j %}
                                {% if city.state_id == state.id %}
                                <LI>{{ city.state_id }}: <B>{{ city.name }}</B></LI>
                        </UL>
                        {% endif % }
                        {% endfor % }
                        </LI>
                </UL>
        </BODY>
</HTML>
